html, body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h6 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button, input[type="submit"] {
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    padding: 1rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}

.py-4 {
    padding: 4rem 0;
}

img {
    width: 100%;
    display: block;
}

.title-wrap {
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.lg-title{
    font-size: 1.8rem;
    color: var(--brown);
}
.sm-title{
    display: block;
    color: var(--brown);
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}

.my-2 {
    margin: 2rem 0;
}

.shadow:hover {
    box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}